# Module 4 -  NumPy Wrap-up and Pandas

## Topic 1 - NumPy in 3D!

### Last week we did a bunch of NumPy 2D array work.  NumPy can be used in 3D and beyond.  To demonstrate, I created a (im)practical example using 3D

### In this example we are loading some simple ASCII text art into a 3D array so we can output it based on a user's input

In [1]:
import numpy as np
my_text_npy = np.empty((26,8,8),dtype=str)
array_depth = 0
letter_complete = 0
with open("all letters in ascii.txt","r") as ascii_art:    
    line_counter = 0
    char_counter = 0
    for line in ascii_art:
        line = line.rstrip()
        for char in line:
            my_text_npy[array_depth,line_counter,char_counter]=char
            char_counter += 1
        if letter_complete < 7:
            line_counter += 1
            letter_complete += 1
            char_counter = 0
        else:
            array_depth += 1
            letter_complete = 0
            line_counter = 0
            char_counter = 0

for count in range(0,np.ma.size(my_text_npy,axis=0)):
    print(my_text_npy[count,:,:])

[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '.' '.' '#' '#' '.' '.' '.']
 ['.' '.' '#' '.' '.' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '#' '#' '#' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '#' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '#' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '#' '#' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '#' '#' '#' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '#' '.' '.']
 ['.' '#' '#' '#' '#' '.' '.' '.']
 ['.' '#' '.' '.' '#' '.' '.' '.']
 ['.' '#' '.' '.' '.' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '.' '.' '#' '#' '.']
 ['.' '#' '.' '#' '#' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '.' '.' '.' '#' '.']
 ['.' '#' '.' '#' '.' '.' '#' '.']
 ['.' '#' '.' '.' '#' '.' '#' '.']
 ['.' '#' '.' '.' '.' '#' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '#' '.' '#' '.']
 ['.' '#' '.' '.' '.' '#' '.' '.']
 ['.' '.' '#' '#' '#' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '#' '.' '.' '#' '.' '.']
 ['.' '.' '.' '#' '#' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '#' '#' '.' '#' '.']
 ['.' '#' '#' '.' '.' '#' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '#' '.' '.' '#' '.' '.']
 ['.' '.' '.' '#' '#' '.' '.' '.']
 ['.' '.' '.' '#' '#' '.' '.' '.']
 ['.' '.' '#' '.' '.' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '#' '.' '.']
 ['.' '.' '#' '.' '#' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '#' '.']
 ['.' '.' '.' '.' '.' '#' '.' '.']
 ['.' '.' '.' '.' '#' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '#' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]

### With our array loaded 26x8x8 with awesome ASCII art, we can access it simply based on its position along index 0

In [2]:
dictionary_index = {"a":1,"b":2,"c":3,"d":4,"e":5,"f":6,"g":7,"h":8,"i":9,"j":10,"k":11,"l":12,"m":13,"n":14,"o":15,"p":16,"q":17,"r":18,"s":19,"t":20,"u":21,"v":22,"w":23,"x":24,"y":25,"z":26}
user_input = input("Give me a name: ")
for letter in user_input:
    print(my_text_npy[dictionary_index[letter.lower()]-1,:,:])

Give me a name: Python
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '#' '.' '.']
 ['.' '.' '#' '.' '#' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '#' '.' '.' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '#' '#' '#' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '#' '#' '#' '#' '.' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]
[['.' '.' '.' '.' '.' '.' '.' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '#' '#' '.' '.' '.' '#' '.']
 ['.' '#' '.' '#' '.' '.' '#' '.']
 ['.' '#' '.' '.' '#' '.' '#' '.']
 ['.' '#' '.' '.' '.' '#' '#' '.']
 ['.' '#' '.' '.' '.' '.' '#' '.']
 ['.' '.' '.' '.' '.' '.' '.' '.']]

## Topic 2: Pandas Dataframes

### Now that we've seen NumPy in action, we can start learning a bit about Pandas, which builds upon the NumPy library.

### Stolen definition: Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).

### Let's use a simple dataset to learn how to do some work in Pandas dataframes

In [3]:
import pandas as pd

#### We can import this file, define the separator, and assign an index column

In [4]:
user_data = pd.read_csv("data_for_pandas.txt",sep='|',index_col='user_id')
print((user_data))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

#### Let's have a quick look at some of the rows

In [5]:
print(user_data)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [ ]:
print(user_data.tail(7))

#### We can also observe the datatypes and shape of the frame

In [6]:
print(user_data.dtypes)

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [7]:
print(user_data.shape[0])
print(user_data.shape[1])
print(user_data.columns)

943
4
Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [8]:
print(user_data.index)

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

#### I can also look at information about specific columns

In [9]:
print(user_data.occupation.head(5))
print(user_data["occupation"].head(5))

user_id
1    technician
2         other
3        writer
4    technician
5         other
Name: occupation, dtype: object
user_id
1    technician
2         other
3        writer
4    technician
5         other
Name: occupation, dtype: object

In [11]:
#print(user_data.occupation.value_counts())
print(user_data.occupation.value_counts().count()) #This line and the next are equivalent
print(user_data.occupation.nunique())

21
21

In [14]:
print(user_data.occupation.value_counts().tail(10))

technician       27
marketing        26
entertainment    18
healthcare       16
retired          14
salesman         12
lawyer           12
none              9
homemaker         7
doctor            7
Name: occupation, dtype: int64

#### Describe is great for seeing overall data for the frame

In [15]:
user_data.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [16]:
user_data.describe(include = "all")

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

#### It's also easy to look at something simple like the mean value of a column

In [19]:
print(user_data.age.mean())

34.05196182396607

## Topic 3: Pandas Dataframes Continued

### In this topic, you can have a short intro to Pandas series as well as how to merge dataframes

### Let's enrich our original dataset with some zip code data to get a more valuable set of data

In [20]:
all_zips = pd.read_csv("us_zip_code_city_county_state.csv",sep=",",index_col="zip_code")
print(all_zips.head())
print(all_zips.dtypes)

         primary_city state               county
zip_code
501        Holtsville    NY       Suffolk County
544        Holtsville    NY       Suffolk County
601          Adjuntas    PR   Adjuntas Municipio
602            Aguada    PR     Aguada Municipio
603         Aguadilla    PR  Aguadilla Municipio
primary_city    object
state           object
county          object
dtype: object

#### If you look at the datatype output, you can see that the datatype of the zip code field is int64.  This doesn't match our user_data zip_code field which has a type of "object".  We need to correct this to use it as a key to merge the two dataframes

In [21]:
user_data[["zip_code"]] = user_data[["zip_code"]].apply(pd.to_numeric,errors='coerce')
print(user_data.dtypes)
print(user_data.head(5))

age             int64
gender         object
occupation     object
zip_code      float64
dtype: object
         age gender  occupation  zip_code
user_id
1         24      M  technician   85711.0
2         53      F       other   94043.0
3         23      M      writer   32067.0
4         24      M  technician   43537.0
5         33      F       other   15213.0

In [22]:
all_zips.describe(include = "all")

       primary_city  state              county
count         42632  42632               41790
unique        18759     62                2007
top             Apo     TX  Los Angeles County
freq            373   2658                 527

#### Now that we have uniform datatypes, we can do a SQL type left join to combine the enriching zip code data with our dataset.

In [23]:
merged_df = user_data.merge(all_zips, how = 'left', on = ['zip_code'])
print(merged_df.head(5))
print(merged_df.shape[0])

   age gender  occupation  zip_code   primary_city state              county
0   24      M  technician   85711.0         Tucson    AZ         Pima County
1   53      F       other   94043.0  Mountain View    CA  Santa Clara County
2   23      M      writer   32067.0    Orange Park    FL         Clay County
3   24      M  technician   43537.0         Maumee    OH        Lucas County
4   33      F       other   15213.0     Pittsburgh    PA    Allegheny County
943

In [25]:
#print(merged_df.state.nunique())
print(merged_df.state.value_counts().count())

53

#### Unfortunately, all is not well and it doesn't immediately stand out.  We have rows in our data that are non-conforming so the merge didn't work in every case.  We can see the bad rows by finding any row that has NaN in it.

In [26]:
bad_values = merged_df[merged_df.isna().any(axis=1)]
print(bad_values)

     age gender     occupation  zip_code primary_city state county
53    22      M      executive   66315.0          NaN   NaN    NaN
72    24      M        student   41850.0          NaN   NaN    NaN
73    39      M      scientist       NaN          NaN   NaN    NaN
85    26      M  administrator   46005.0          NaN   NaN    NaN
144   31      M  entertainment       NaN          NaN   NaN    NaN
166   37      M          other       NaN          NaN   NaN    NaN
185   39      F      executive       0.0          NaN   NaN    NaN
193   38      M  administrator    2154.0          NaN   NaN    NaN
200   27      M         writer       NaN          NaN   NaN    NaN
332   47      M          other       NaN          NaN   NaN    NaN
457   47      M     technician       NaN          NaN   NaN    NaN
489   29      F         artist       NaN          NaN   NaN    NaN
520   19      M        student    2146.0          NaN   NaN    NaN
523   56      M       educator    2159.0          NaN   NaN    NaN
577   31      M  administrator       NaN          NaN   NaN    NaN
593   46      M       educator       NaN          NaN   NaN    NaN
598   22      F        student       NaN          NaN   NaN    NaN
599   34      M     programmer    2320.0          NaN   NaN    NaN
606   49      F     healthcare    2154.0          NaN   NaN    NaN
633   39      M       engineer       NaN          NaN   NaN    NaN
658   31      M       educator   54248.0          NaN   NaN    NaN
670   21      M     programmer   91919.0          NaN   NaN    NaN
707   26      F      homemaker   96349.0          Fpo    AP    NaN
708   21      M          other       NaN          NaN   NaN    NaN
718   37      F          other       NaN          NaN   NaN    NaN
766   70      M       engineer       0.0          NaN   NaN    NaN
775   30      M      librarian   51157.0          NaN   NaN    NaN
778   31      M        student       NaN          NaN   NaN    NaN
781   21      F         artist   33205.0          NaN   NaN    NaN
787   51      M  administrator    5779.0          NaN   NaN    NaN
841   40      M         writer   93055.0          NaN   NaN    NaN
847   46      M       engineer    2146.0          NaN   NaN    NaN
856   35      F  administrator       NaN          NaN   NaN    NaN
857   63      M       educator    9645.0          Fpo    AE    NaN
900   38      M      executive       NaN          NaN   NaN    NaN
915   27      M       engineer       NaN          NaN   NaN    NaN
922   21      M        student       NaN          NaN   NaN    NaN

## Topic 4: Pandas Statistics

### This topic introduces some simple statistics that can be done on our dataframes.  We will continue this next week with some more in-depth analysis

### Like NumPy, there are a ton of ways we can do statistical analysis of our dataframes.  I'm going to introduce some here and some more next week.

### For this example, I'm going to have a look at some red wine data

In [28]:
wine_data = pd.read_csv('Red Wine Quality.csv')
print(wine_data.head())
wine_data.shape

   quality  fixed acidity  volatile acidity  citric acid  residual sugar  \
0        5            7.4              0.70         0.00             1.9
1        5            7.8              0.88         0.00             2.6
2        5            7.8              0.76         0.04             2.3
3        6           11.2              0.28         0.56             1.9
4        5            7.4              0.70         0.00             1.9

   chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0      0.076                 11.0                  34.0   0.9978  3.51
1      0.098                 25.0                  67.0   0.9968  3.20
2      0.092                 15.0                  54.0   0.9970  3.26
3      0.075                 17.0                  60.0   0.9980  3.16
4      0.076                 11.0                  34.0   0.9978  3.51

   sulphates  alcohol
0       0.56      9.4
1       0.68      9.8
2       0.65      9.8
3       0.58      9.8
4       0.56      9.4

(1599, 12)

#### I can drop a column from this dataset that I don't want.  I'm going to get rid of the chlorides column based on its index position

In [29]:
wine_data = wine_data.drop(wine_data.columns[[5]],axis=1) #drop chlorides column
wine_data.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,5,7.4,0.70,0.00,1.9,11.0,34.0,0.9978,3.51,0.56,9.4
1,5,7.8,0.88,0.00,2.6,25.0,67.0,0.9968,3.20,0.68,9.8
2,5,7.8,0.76,0.04,2.3,15.0,54.0,0.9970,3.26,0.65,9.8
3,6,11.2,0.28,0.56,1.9,17.0,60.0,0.9980,3.16,0.58,9.8
4,5,7.4,0.70,0.00,1.9,11.0,34.0,0.9978,3.51,0.56,9.4

#### I can look at slices of columns and row, and even assign them to a new dataframe

In [30]:
wine_data.loc[:,["quality","pH","alcohol"]]

      quality    pH  alcohol
0           5  3.51      9.4
1           5  3.20      9.8
2           5  3.26      9.8
3           6  3.16      9.8
4           5  3.51      9.4
...       ...   ...      ...
1594        5  3.45     10.5
1595        6  3.52     11.2
1596        6  3.42     11.0
1597        5  3.57     10.2
1598        6  3.39     11.0

[1599 rows x 3 columns]

#### I can look at standard stats about whatever I want

In [31]:
print(wine_data["alcohol"].mean())
print(wine_data["quality"].std())

10.4229831144465
0.8075694397347023

#### I can do mathematical work to the whole frame or specific columns/rows.  I'm going to make the quality of the wine be 100 based instead of 10 based by multiplying it by 10

In [32]:
wine_data["quality"]=wine_data["quality"]*10
wine_data.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,50,7.4,0.70,0.00,1.9,11.0,34.0,0.9978,3.51,0.56,9.4
1,50,7.8,0.88,0.00,2.6,25.0,67.0,0.9968,3.20,0.68,9.8
2,50,7.8,0.76,0.04,2.3,15.0,54.0,0.9970,3.26,0.65,9.8
3,60,11.2,0.28,0.56,1.9,17.0,60.0,0.9980,3.16,0.58,9.8
4,50,7.4,0.70,0.00,1.9,11.0,34.0,0.9978,3.51,0.56,9.4

#### Because I'm only intested in high quality wine, I'm going to just keep the above average wine rows.  I'll create a new dataframe to hold this data.

#### First I need to create a data series showing which rows have higher than average quality

In [33]:
high_quality_wine_bool = wine_data["quality"] > wine_data["quality"].mean()
print(high_quality_wine_bool)

0       False
1       False
2       False
3        True
4       False
        ...
1594    False
1595     True
1596     True
1597    False
1598     True
Name: quality, Length: 1599, dtype: bool

#### I can now use this boolean series to create a dataframe that only contains the rows where the series is "True"

In [34]:
high_quality_wine = wine_data[high_quality_wine_bool]
high_quality_wine.describe()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,855.000000,855.000000,855.000000,855.000000,855.000000,855.000000,855.000000,855.000000,855.000000,855.000000,855.000000
mean,62.748538,8.474035,0.474146,0.299883,2.535965,15.272515,39.352047,0.996467,3.310643,0.692620,10.855029
std,4.916270,1.862795,0.161999,0.199889,1.424835,10.038538,27.253280,0.002067,0.154554,0.155558,1.106109
min,60.000000,4.700000,0.120000,0.000000,0.900000,1.000000,6.000000,0.990070,2.860000,0.390000,8.400000
25%,60.000000,7.100000,0.350000,0.115000,1.900000,7.000000,20.000000,0.995185,3.210000,0.590000,10.000000
50%,60.000000,8.000000,0.460000,0.310000,2.200000,13.000000,33.000000,0.996400,3.310000,0.660000,10.800000
75%,70.000000,9.650000,0.580000,0.460000,2.600000,20.500000,50.000000,0.997685,3.400000,0.770000,11.700000
max,80.000000,15.600000,1.040000,0.780000,15.400000,72.000000,289.000000,1.003690,4.010000,1.950000,14.000000

## Topic 5: Pandas Time Series

## Pandas is used quite often for time series.  In the interest of time, we don't dig into this specifically but I've included a few links in Blackboard if you want to learn more about it.  In appropriate cases, it can be quite powerful